body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  padding: 2.5px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin: 0.2em;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 0.25em;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
  margin: 0.25em;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
}